@tailwind base;
@tailwind components;
@tailwind utilities;

.inshadow{
  box-shadow: inset 0 0 10px #ffffff1c;
}
.frame{
  background: #161621;
  background: linear-gradient(179deg, #ffffff26 11%, #16162100 99%);

}

body{
  background: #000009;
  @apply text-gray-100;
}