<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USING PUGvs</title>

    style
        include ../static/style.css
</head>
<body>
    <h1>PUG</h1>
    <!-- this is render in pug template -->
    | #{title}
    <br>
    this is a plain html pug 
    <form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="age" id="age" placeholder="Enter your age">
        <input type="text" name="gender" id="gender" placeholder="Enter your gender">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
        <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
        <button class="btn">Submit</button>
    </form>
</body>
</html>
|<!-- ac 41766733419ifsc SBIN0007045goutam952004@gmail.comstate bank of india  -->