<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="pl-[40vw] pt-[20vh] w-full text-white h-screen bg-zinc-900 ">

        <h3 class="text-3xl mb-4">Login Your Account</h3>

        <form class="  flex flex-col gap-3" method="post" action="/login"> 
            <input class="px-5 py-1 bg-zinc-800 w-[250px] border border-zinc-600 outlie-none rounded-md" name="email" placeholder="Email id" type="text">
            <input class="px-5 py-1 bg-zinc-800 w-[250px] border border-zinc-600 outlie-none rounded-md" name="password" placeholder="password" type="password">
            
            <input class="px-3 py-1 bg-green-500 w-[250px] rounded-md "  type="submit" value="Login">    
        </form>

        
         
    </div>
</body>
</html>